.logo-link {
  font-family: "Poppins", sans-serif;
  font-size: calc(6px + 4vw);
  font-weight: 400;
}

@media screen and (max-width: 1130px) {
  .logo-link {
  }
}

@media screen and (max-width: 1025px) {
  .logo-link {
  }
}

@media screen and (max-width: 875px) {
  .logo-link {
    font-size: 7vw;
    text-align: center;
    padding: 10px;
  }

  @media screen and (max-width: 450px) {
    .logo-link {
      padding: 0;
      font-size: 10vw;
    }
  }
}
