.nav-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  height: 110px;
  padding-bottom: 5px;
  width: 100%;
  position: sticky;
  z-index: +1;
  top: 0;
  transition: 0.2s ease;
  background-image: linear-gradient(
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255, 0.99),
    rgba(255, 255, 255, 0.99),
    rgba(255, 255, 255, 0.98),
    rgba(255, 255, 255, 0.98),
    rgba(255, 255, 255, 0.97),
    rgba(255, 255, 255, 0.97),
    rgba(255, 255, 255, 0.96),
    rgba(255, 255, 255, 0.96),
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.94),
    rgba(255, 255, 255, 0.94),
    rgba(255, 255, 255, 0.93),
    rgba(255, 255, 255, 0.93),
    rgba(255, 255, 255, 0.92),
    rgba(255, 255, 255, 0.92),
    rgba(255, 255, 255, 0.91),
    rgba(255, 255, 255, 0.91),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
}

.nav-container-hide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  background-color: transparent;
  top: -50px;
  transition: top 0.3s ease;
}

.links {
  font-size: 16px;
  height: 35px;
  font-weight: 500;
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-left: 4rem;
  transition: 0.3s ease;
}

.links a {
  transition: 0.1s;
}

.links a:hover {
  color: #646464;
  transition: 0.1s;
}

.instagram {
  margin-top: -2px;
}

.instagram:hover {
  fill: #646464;
}

@media screen and (max-width: 1025px) {
  .links {
    /* font-size: 14px; */
  }

  .instagram {
    /* margin-top: -4px; */
  }
}

@media screen and (max-width: 875px) {
  .links {
    column-gap: 2rem;
    font-size: 18px;
    font-weight: 400;
    height: 16px;
    padding: 0;
    align-items: center;
    margin-left: 0rem;
  }

  .nav-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 130px;
  }

  .nav-container-hide {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 130px;
  }

  .instagram {
    margin-top: 5px;
  }
}
